/* Footer container */
.footer{
    position: sticky;
    bottom: 0px;
    width: 98.5%;
    background-color: rgb(15, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-left: 3px;
    border-radius: 10px;
    z-index: 155;
  }
   
  .footer-column {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
  }
  
  .footer-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    align-items: center;
    
  }
   
  .ico{
    display: flex;
    flex-direction: column;
  }
  .ico span{
    font-size: 10px;
  }
  
  .footer-button:hover {
    color: #007bff;
  }
  
 @media (max-width: 480px) {
    .footer{
      display: block; 
      margin-bottom: 0px ;
    }
  }
  
  @media (min-width: 480px) {
    .footer {
      display: none; 
    }
  } 
    